<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ message }}</title>
</head>
<body>
<div>
    <a href="/user">
        <button>Home</button>
    </a>
</div>
<h2> {{message}} </h2>
    <form action="/income/create" method="post" style="margin-top: 30px;">
        <div style="display: flex; flex-direction:column; width: 300px; margin:auto;">
            <label for="bank">Bank</label>
            <select name="bank" id="bank">
                {{#each userBanks}}
                    <option value="{{ name }}">{{ name }}</option>
                {{/each}}
            </select>

            <label for="expenseType">Income Type</label>
            <input type="text" name="incomeType" id="incomeType" style="margin-top: 10px;" required>

            <label for="date">Date</label>
            <input type="date" name="date" id="date" style="margin-top: 10px;" required>
            
            <label for="amount">Amount</label>
            <input type="text" name="amount" id="amount" style="margin-top: 10px;" required>

            <label for="description">Description</label>
            <textarea name="description" id="description" 
            cols="5" rows="5" style="margin-top: 10px;" placeholder="Expense Description">
            </textarea>

            <label for="bankReceipt">Bank Receipt</label>
            <input type="file" name="bankReceipt" id="bankReceipt" >

            <input type="submit" value="Submit" style="margin-top: 10px;" >
        </div>
    </form>
    <h4>{{created}}</h4>
</body>
</html>