<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ add }}</title>
</head>
<body>
    <div>
        <a href="/user">
            <button>Home</button>
        </a>
    </div>
    <form action="/bank/create" method="POST">
    <div>
        <label for="bank">Bank</label>
        <select name="bank" id="bank">
            <option disabled selected value>Select an option</option>
            <option value="BBVA">BBVA</option>
            <option value="SABADELL">SABADELL</option>
            <option value="SANTANDER">SANTANDER</option>
            <option value="CAIXA">CAIXA</option>
            <option value="ING">ING</option>
        </select>
    </div>
    <div>
        <label for="ibalance">Initial Balance</label>
        <input type="number" name="ibalance" id="ibalance">
        <input type="submit" value="Add">
    </div>
    </form>
    {{#if error}}
    <div>
        <p style="color: darkred; font-size:18px ;">{{ error }}</p>
        <div>
            <span><img src="{{bank.image}}" style="width: 200px; heigth:200px;" alt="{{bank.name}}"></span>
        </div>
        <div>
            <h3>Balance: {{ bank.initialBalance }} €</h3>
        </div>
    </div>

    {{/if}}
    {{#if message}}
    <div>
        <p style="color: darkgreen; font-size:18px ;">{{ message }}</p>
        <div>
            <h1>{{saveBank.name}}</h1>
            <span><img src="{{saveBank.image}}" alt="{{saveBank.name}}" style="width: 200px; height:200px"></span>
        </div>
        <div>
            <h4>{{ saveBank.initialBalance }} €</h4>
        </div>
    </div>
    {{/if}}
</body>
</html>