<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <div>
            <a href="/register">SignIn</a>
            <a href="/login">LogIn</a>
        </div>
    </nav>
    <h1> {{ titleDescription }} </h1>

</body>
</html>