<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>LogIn</h1>

    <form action="/user/login" method="POST">
        <label for="email">
            <p>Email</p>
            <input type="text" name="email" required placeholder="Email">
        {{#if error}}
            <p style="color: darkred; font-size:18px ;">{{ error }}</p>
        {{/if}}
        </label>
                <label for="password">
            <p>Password</p>
            <input type="password" name="password" required placeholder="Password">

        </label>
        <input type="submit" value="LogIn">


    </form>
</body>
</html>