<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
</head>
<body>
    <nav style="display: flex; justify-content:space-between">
        <form action="/user/logout" method="POST">
        <input type="submit" value="LogOut">
        </form>
        <div style="display:flex">
            <h2>Welcome {{ name }}</h2>
            <img src="{{ image }}" alt="User Image" style=" width: 50px; height:50px">
        </div>
        <div style="display: flex; justify-content:space-around; width:500px">
            <a href="/bank/create">New Bank</a>
            <a href="/expense/create">Add Expense</a>
            <a href="/income/create">Add Income</a>
            <a href="">Profile</a>
        </div>
    </nav>
    <h2>Your Banks</h2>
    
    <div style="display: flex; justify-content:space-around; flex-direction:column:">
        {{#each userBanks}}
        <div>
            <a href="/bank/user/{{_id}}">
            <img style="height: 100px; width:200px" 
            src="{{ image }}" alt="{{name}}">
            </a>            
        </div>
        <div>
            <h2>{{name}}</h2>
            <h3>Balance: {{initialBalance}} €</h3>
        </div>
        <div>
            
        </div>
        {{/each}}
    </div>

    
</body>
</html>